<div class="container" ng-controller="surveysController">
    <div class="col-xs-10">
        <h3 ng-if="requestType != 'approval'" class="page-header">
            View Surveys
        </h3>
        <h3 ng-if="requestType == 'approval'" class="page-header">
            Approve Surveys
        </h3>
        <div style="display:none" class="pull-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#addSurvey">Add New Survey</button>
        </div>
    </div>
    <div class="col-xs-10">
    <div class="btn-group btn-group-primary down pull-right bkg">
            <select ng-model="activeSurvey" ng-init="activeSurvey=approval_surveys[0].ID">
                <option ng-repeat="survey in approval_surveys | unique:'ID'" ng-value="survey.ID" ng-selected="activeSurvey==survey.ID">{{survey.name}}</option>
            </select>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th width='5%'>S.No.</th>
                <th>Survey Title</th>
                <th>Surveyor Name</th>
                <th>Participant ID</th>
                <th>Company</th>
                <th>Location</th>
                <th>Date Completed</th>
                <th></th>
                
                <tr ng-repeat="survey in approval_surveys | filter: activeSurvey">
                    <input type="hidden" name="surveyID" id="surveyID" value="{{survey.ID}}">
                    <input type="hidden" name="pID" id="pID" value="{{survey.pID}}">
                    <input type="hidden" name="surveyorID" id="surveyorID" value="{{survey.surveyorID}}">
                    <input type="hidden" name="deID" id="deID" value="{{survey.deID}}">
                    <td>{{survey.ID}}</td>
                    <td>{{survey.name}}</td>
                    <td>{{survey.surveyorName}}</td>
                    <td>{{survey.pID}}</td>
                    <td>{{survey.company}}</td>
                    <td>{{survey.location}}</td>
                    <td>{{survey.date}}</td>
                    <td>
                        <button onClick="returnCorrectedSurvey(this)" class="btn btn-info"> Verify </button>
                    </td>
                </tr>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="addSurvey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST" action="#" data-pjax="#main">
                <div class="modal-header">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-success" data-dismiss="modal">
                        Save
                        </button>
                    </div>
                    <h4 class="modal-title">
                        Add Survey
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Survey Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="surveyName" class="form-control" placeholder="Survey Name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Table</label>
                        <div class="col-xs-8">
                            <input type="text" name="Table" class="form-control" placeholder="Table Name" value="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>