<div class="container" ng-controller="surveysController">
    <div class="col-xs-10">
        <h3 class="page-header">
            Allocate Surveys to Data Editor
        </h3>
    </div>
    <div class="col-sm-5">
    	<div class="panel panel-default">
	    	<div class="panel-heading clearfix">
	            <h3 class="panel-title pull-left">Data Editors</h3>
	            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addEditor"><i class="fa fa-plus"></i> Create Data Editor Profile</button> 
	        </div>
		    <div class="bootcards-list scrolbl" id="list">
		        <div class="panel panel-default">
		            <div class="list-group" ng-repeat="editor in editors">
		                <a class="list-group-item pjax">
		                	<input type="hidden" value='{{editor.ID}}'/>
		                    <h4 class="list-group-item-heading">{{editor.name}} ({{editor.surveyers.length}})</h4>
		                </a>
		            </div>
		        </div>
		    </div>
	    </div>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
	    <div class="bootcards-cards" id="listDetails">
	        <div id="contactCard">
	            <div class="panel panel-default">
	                <div class="panel-heading clearfix">
	                    <h3 class="panel-title pull-left">Assigned Surveyers</h3>
	                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addSurveyer"><i class="fa fa-plus"></i> Create Surveyer Profile</button>
	                </div>
	                <div class="list-group scrlbl">
	                    <div class="list-group-item" ng-repeat="surveyer in surveyers">
	                        <div class="">
	                            <h5 class="list-group-item-heading">{{surveyer.name}}<button class="btn btn-danger btn-xs pull-right">Remove</button></h5>

	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    <div class="col-sm-12 bootcards-cards" id="listDetails">
        <div id="contactCard">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Unsassigned Surveyers</h3>
                </div>
                <div class="list-group scrlbl">
                    <div class="list-group-item" ng-repeat="surveyer in surveyers">
                        <div class="">
                            <h5 class="list-group-item-heading">{{surveyer.name}}<button class="btn btn-success btn-xs pull-right">Add</button></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST" action="#" data-pjax="#main">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Data Editor
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Editor Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="editorName" class="form-control" placeholder="Editor Name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location</label>
                        <div class="col-xs-8">
                            <input type="text" name="Location" class="form-control" placeholder="Location" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Age</label>
                        <div class="col-xs-8">
                            <input type="number" name="Location" class="form-control" placeholder="Age" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Email ID</label>
                        <div class="col-xs-8">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-success" data-dismiss="modal">
                        Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addSurveyer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST" action="#" data-pjax="#main">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Surveyer
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Surveyer Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="surveyerName" class="form-control" placeholder="Surveyer Name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location</label>
                        <div class="col-xs-8">
                            <input type="text" name="Location" class="form-control" placeholder="Location" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Age</label>
                        <div class="col-xs-8">
                            <input type="number" name="Location" class="form-control" placeholder="Age" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Email ID</label>
                        <div class="col-xs-8">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-success" data-dismiss="modal">
                        Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>