<div class="container" ng-controller="surveysController">
    <div class="col-xs-10">
        <h3 class="page-header">
            Allocate Surveys to Data Editor
        </h3>
    </div>
    <div class="col-sm-5">
    	<div class="panel panel-default">
	    	<div class="panel-heading clearfix">
	            <h3 class="panel-title pull-left">Data Editors</h3>
	            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addEditor"><i class="fa fa-plus"></i> Create Data Editor Profile</button> 
	        </div>
		    <div class="bootcards-list scrolbl" id="list">
		        <ul class="panel panel-default" style='list-style-type:none;margin-left: -40px;'>
		            <li ng-repeat="editor in editors" style="border-bottom: solid 1px #eee;
padding-left: 10px;
padding: 5px 0px 5px 10px;" ng-click="updateLi($index)" value="{{$index}}" ng-class="{'active': activeSection == $index}">
		                	<input type="hidden" value='{{editor.ID}}'/>
		                    <h4 style="font-size:14px;" class="list-group-item-heading">{{editor.name}} ({{editor.surveyers.length}})</h4>
		          </li>
		        </ul>
		    </div>
	    </div>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
	    <div class="bootcards-cards" id="listDetails">
	        <div id="contactCard">
	            <div class="panel panel-default">
	                <div class="panel-heading clearfix">
	                    <h3 class="panel-title pull-left">Assigned Surveyors</h3>
	                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addSurveyer"><i class="fa fa-plus"></i> Create Surveyor Profile</button>
	                </div>
	                <div class="list-group scrlbl">
	                    <div class="list-group-item" ng-repeat="surveyer in surveyers">
	                        <div class="">
                                <input type="hidden" value="{{surveyer.ID}}">
                                <input type="hidden" value="{{currentDe}}">

	                            <h5 class="list-group-item-heading">{{surveyer.name}}<button class="btn btn-danger btn-xs pull-right" onclick="removeDEMap(this)">Remove</button></h5>

	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    <div class="col-sm-12 bootcards-cards" id="listDetails">
        <div id="contactCard">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Unassigned Surveyors</h3>
                </div>
                <div class="list-group scrlbl">
                    <div class="list-group-item" ng-repeat="surveyer in usurveyers">
                        <div class="">
                            <input type="hidden" value="{{surveyer.ID}}">
                            <h5 class="list-group-item-heading">{{surveyer.name}}<button class="btn btn-success btn-xs pull-right" onclick="addDEMap(this)">Add</button></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
<form id="editorform" class="form-horizontal" ng-submit="submitPMEditor('DE',this)" data-pjax="#main">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add editor
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">editor First Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="edFName" class="form-control" placeholder="Editor Name" value="" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">editor Last Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="edLName" class="form-control" placeholder="Editor Name" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">DOB</label>
                         <div class="col-xs-8">
                        <p class="input-group">
                      <input name="sDOB" id="DOB" type="text" data-max-date="maxDate" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button> {{dt | date:'fullDate' }}
                      </span>
                    </p>
                    </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">Email ID</label>
                        <div class="col-xs-8">
                               <input pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$" type="email" name="edemail" class="form-control" placeholder="Email Address" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" onclick="resetForm(this)" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <input type="submit" class="btn btn-success" ng-disabled="editorform.$invalid" value="Add" 
                        />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addSurveyer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="surveyorform" class="form-horizontal" ng-submit="submitPMSurveyor('SU',this)" data-pjax="#main">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Surveyor
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">Surveyor First Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="suFName" class="form-control" placeholder="Surveyor Name" value="" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">Surveyor Last Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="suLName" class="form-control" placeholder="Surveyor Name" value="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">DOB</label>
                         <div class="col-xs-8">
                        <p class="input-group">
                      <input name="sDOB" id="DOB" type="text" data-max-date="maxDate" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button> {{dt | date:'fullDate' }}
                      </span>
                    </p>
                    </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-xs-4 control-label">Email ID</label>
                        <div class="col-xs-8">
                               <input pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+([;.](([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})+)*$" type="email" name="semail" class="form-control" placeholder="Email Address" value="" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" onclick="resetForm(this)" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <input type="submit" class="btn btn-success" ng-disabled="surveyorform.$invalid" value="Add" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>