
<div class="container">
	<h3 class="centre">Welcome {{user.fName}} {{user.lName}}!</h3>
	<h4 class="centre">{{report.month}} {{report.year}} Report for {{company.name}} </h4>

	<div class="col-xs-8">
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <td></td>
                <td>Amount</td>
            </tr>
            <tr>
                <td class="green">Money In</td>
                <td>{{expenses.in}}</td>
            </tr>
            <tr>
            	
            </tr>
            <tr ng-repeat="expense in expenses">
            	<td> {{expense.type}} </td>
            	<td> {{expense.amount}}</td>
            </tr>
            <tr>
            	<td class="red">Total money out</td>
                <td>{{expenses.out}}</td>
            </tr>
        </table>
        <button class="btn btn-success"> Print PDF</button>
        <button class="btn btn-info pull-right"> Export to Excel</button>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
        <img src="http://www.clker.com/cliparts/b/1/f/a/1195445301811339265dagobert83_female_user_icon.svg.med.png" class="usimg">
    </div>
    <div class="col-xs-12 top">
    	<h4 class="page-header">Here’s how your {{report.month}} {{report.year}} report compares with your {{report2.month}} {{report2.year}} report</h4>
    	<div class="col-xs-4 col-xs-offset-1">
    		<quick-datepicker ng-model='myDate'></quick-datepicker>
    	</div>
    	<div class="col-xs-4 col-xs-offset-1">
    		<quick-datepicker ng-model='myDate'></quick-datepicker>
    	</div>
    </div>
    <div class="col-xs-12">
    	<div class="col-xs-4">
	        <table class="table table-bordered table-hover table-condensed">
	            <tr>
	                <td></td>
	                <td>Amount</td>
	            </tr>
	            <tr>
	                <td class="green">Money In</td>
	                <td>{{expenses.in}}</td>
	            </tr>
	            <tr>
	            	
	            </tr>
	            <tr ng-repeat="expense in expenses">
	            	<td> {{expense.type}} </td>
	            	<td> {{expense.amount}}</td>
	            </tr>
	            <tr>
	            	<td class="red">Total money out</td>
	                <td>{{expenses.out}}</td>
	            </tr>
	        </table>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
	        <table class="table table-bordered table-hover table-condensed">
	            <tr>
	                <td></td>
	                <td>Amount</td>
	            </tr>
	            <tr>
	                <td class="green">Money In</td>
	                <td>{{expenses2.in}}</td>
	            </tr>
	            <tr>
	            	
	            </tr>
	            <tr ng-repeat="expense in expenses">
	            	<td> {{expense2.type}} </td>
	            	<td> {{expense2.amount}}</td>
	            </tr>
	            <tr>
	            	<td class="red">Total money out</td>
	                <td>{{expenses2.out}}</td>
	            </tr>
	        </table>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
        	<table class="table table-bordered table-hover table-condensed">
	            <tr>
	                <th>Total change</th>
	                <th>Percentage Change</th>
	            </tr>
	            <tr>
	                <td> {{expenses2.in-expenses.in}} </td>
	                <td>{{(expenses2.in-expenses.in/expenses.in)*100}}%</td>
	            </tr>
	            <tr>
	            	
	            </tr>
	            <tr ng-repeat="expense in expenses" ng-class="{ 'red': expense2.amount-expense.amount > 0, 'green' : expense2.amount-expense.amount < 0}">
	            	<td> {{expense2.amount-expense.amount}} </td>
	            	<td> {{(expense2.amount-expense.amount/expense.amount)*100}}%</td>
	            </tr>
	            <tr>
	            	<td> {{expenses2.out-expenses.out}} </td>
	                <td>{{(expenses2.out-expenses.in/expenses.out)*100}}%</td>
	            </tr>
	        </table>
        </div>
    </div>
</div>