
<div class="container">
    <div class="col-sm-12">
        <form name="profileForm" id="profileForm" class="form-horizontal col-sm-7" method="POST" ng-submit="saveProfile()" data-pjax="#main">
            <h3 class="page-header">
                Edit User Profile
            </h3>
            <h5 class="page-header">
                Basic Info
            </h5>
            <div class="form-group required">
                <label class="col-xs-4 control-label">First Name</label>
                <div class="col-xs-8">
                    <input type="text" name="f_name" class="form-control" placeholder="First Name" value="{{user.fName}}" ng-model="user.fName" required  maxlength="50">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-xs-4 control-label">Last Name</label>
                <div class="col-xs-8">
                    <input type="text" name="l_name" class="form-control" placeholder="Last Name"  value="{{user.lName}}" ng-model="user.lName" required maxlength="50">
                </div>
            </div>
            <input type="hidden" name="user_id" class="form-control" value="{{user.ID}}">
            <div class="form-group">
                <label class="col-xs-4 control-label">Email Address</label>
                <div class="col-xs-8">
                    <input type="text" name="email" class="form-control" placeholder="Email"  value="{{user.Email}}" disabled>
                </div>
            </div>
            <div class="">
                <h5 class="page-header">
                    Personal Info
                </h5>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Date Of Birth</label>
                <div class="col-xs-8  required">
                    <p class="input-group">
                      <input name="DOB" id="DOB" type="text" data-max-date="maxDate" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button> {{dt | date:'fullDate' }}
                      </span>
                    </p>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-xs-4 control-label">Phone</label>
                <div class="col-xs-8">
                  <input type='tel' pattern='^(\s*\d{10}\s*)(,\s*\d{10}\s*)*,?\s*$' title='Phone Number (Format: Only 10 digit phone numbers)' name="primary_phone" class="form-control" placeholder="Phone Number" ng-model="user.Phone" value="{{user.Phone}}"  required/>
                 
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Address Line 1</label>
                <div class="col-xs-8">
                    <input type="text" name="address" class="form-control" placeholder="House Number"  value="{{user.HouseNumber}}" ng-model="user.HouseNumber" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Street</label>
                <div class="col-xs-8">
                    <input type="text" name="line_1" class="form-control" placeholder="Street"  value="{{user.Street}}" ng-model="user.Street" maxlength="50">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-xs-4 control-label">City</label>
                <div class="col-xs-8" >
                    <input required type="text" name="city" class="form-control" placeholder="City"  value="{{user.City}}" ng-model="user.City" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">State</label>
                <div class="col-xs-8">
                    <input type="text" name="state" class="form-control" placeholder="State"  value="{{user.State}}" ng-model="user.State" maxlength="50">
                </div>
            </div>
            <div class="form-group required">
                <label class="col-xs-4 control-label">Country</label>
                <div class="col-xs-8">
                    <input type="text" name="country" class="form-control" placeholder="Country"  value="{{user.Country}}" ng-model="user.Country" required maxlength="50">
                </div>
            </div>
            <div class="">
                <h5 class="page-header">
                    Account Info
                </h5>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Account Type</label>
                <div class="col-xs-8">
                    <input type="text" name="role" class="form-control" placeholder="accountType"  value="{{user.accountType}}" disabled>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    <input type="button" class="btn btn-danger" value="Reset" ng-click="reset()" />
                    <input type="submit" class="btn btn-success" ng-disabled="profileForm.$invalid" value="Save" />
                </div>
                
            </div>
        </form>
        <div class="col-sm-3 col-sm-offset-2" align="center">
            <img src="images/noPic.png" class="usimg">
            <button class="btn btn-success btn-block up">Change Image</button>
        </div>
    </div>
</div>

