<div class="container">
	<h3 class="page-header">View Survey Data</h3>
	<div>
		<div class="row" >
			<button class="btn btn-warning lft pull-right {{disabled}}" ng-click="getDataByFilter()"> Get Data </button>
			<div class="pull-right">
					<select ng-model="selectedSurvey" ng-options="item.id as item.name for item in misc.survey_details" class="pull-right lft" x-ng-change="updateSurveyID(selectedSurvey)">
				</select>
				<b class="lft">Filter by Survey ID</b>
			</div>
			<div class="pull-right">
			<b>Filter by Project ID</b>
				<select ng-model="selectedProject" ng-options="item.id as item.name for item in misc.project_details" x-ng-change="updateProjectID(selectedProject)">
				</select>
			</div>
		</div>
	<div>
	<!-- <div max-width="800px" style="overflow-x:scroll">
	    <table>
	        <tr>
	            <th class="right">Select columns </th>
	            <th ng-repeat="column in columns">
	                <label class="checkbox">
	                <input type="checkbox" id="check" ng-click="trackQuestions(column.question, $index)" class="checkbox" checked ng-model="column.field" ng-init="column.field=true" /> {{column.question}}
	                </label>
	            </th>
	        </tr>
	    </table>
	</div> -->
	<div max-width="800px" style="overflow-x:scroll">
		<table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered">
	        <thead>
	            <tr>
	            <th class="back valign"></th>
	            <th class="back valign">Participant ID</th>
	            <th class="back valign">Language ID</th>
	                <th class="back valign" ng-repeat="column in columns" ng-show="column.field"
	                    class="text-center sortable"  style="min-width: 250px">
	                    <div>{{column.question}}</div>
	                    <span class="pull-right"><span class="caret"></span><span class="caret-up"></span></span>
	                </th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr ng-repeat="data in questions">
	        		<td><a class="btn btn-danger"> Delete </a></td>
	        		<td>{{data.participant_ID}}</td>
	        		<td>{{data.lang_id}}</td>
	                <td ng-repeat="column in columns" sortable="column.field" ng-show="columns[$index].field" style="min-width:100px">
	                    {{column.answer}}
	                </td>
	        	</tr>
	        </tbody>
	    </table>
	    <h3>{{nodata}}</h3>
	</div>
	</div>
	<div class="col-xs-4 col-xs-offset-4 bottom">
	    <a class="btn btn-success btn-block top pull-right" ng-click="generateCsv()" download="test.csv">Export to CSV</a>
	</div>
</div>