<div class="container">
    <div class="col-xs-12">
        <h3 class="page-header">
            Manage Researchers
        </h3>
        <div class="pull-right">
            <button class="btn btn-success" data-toggle="modal" data-target="#addResearcher">Add New Researcher</button>
        </div>
    </div>
    <div class="col-xs-10">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Age</th>
                <th>Email ID</th>
                <th></th>
            <tr ng-repeat="researcher in researchers">
                <td>{{researcher.ID}}</td>
                <td>{{researcher.Name}}</td>
                <td>{{researcher.Location}}</td>
                <td>{{researcher.Age}}</td>
                <td>{{researcher.Email}}</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm"> Delete </button></td>
            </tr>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="addResearcher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST" action="#" data-pjax="#main">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Researcher
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="companyId" value="">
                    <input type="hidden" name="_method" value="put">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Researcher Name</label>
                        <div class="col-xs-8">
                            <input type="text" name="researcherName" class="form-control" placeholder="Researcher Name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location</label>
                        <div class="col-xs-8">
                            <input type="text" name="Location" class="form-control" placeholder="Location" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Age</label>
                        <div class="col-xs-8">
                            <input type="number" name="Location" class="form-control" placeholder="Age" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Email ID</label>
                        <div class="col-xs-8">
                            <input type="email" name="email" class="form-control" placeholder="Email Address" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger" data-dismiss="modal">
                        Cancel
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-success" data-dismiss="modal">
                        Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="POST" action="#" data-pjax="#main">
                <div class="modal-header">
                    <h4>Are you Sure you want to Delete {{researcher.Name}}?</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>