<html ng-app="surveyApp">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="css/bootcards.css"> 
        <link rel="stylesheet" type="text/css" href="css/bootcards-desktop.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/site.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/bootcards.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
        function SignIn(item)
        {

        un=$(item).parent().parent().find('input[type="text"]').val()
        pd=$(item).parent().parent().find('input[type="password"]').val()
        $.ajax({
            url: "/login",
            type: "post",
            async: false,
            data: {username:un,password:pd},
            dataType: "html",
            success: function (data) {
                console.log(data)
                // nv=JSON.parse(data)
                localStorage.dataObject = data;
                // console.log(nv)
                window.location.assign("/")
            },
        });
    }
        </script>
    </head>
    <body>
        <div class="container" id="main">

            <div class="row">

                <div class="col-sm-4 col-sm-offset-4 bootcards-cards">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left">Login</h3>
                            
                        </div>
                       
                        <div class="list-group">
                         
                            <div class="list-group-item">
                                <label class="list-group-item-text">UserName</label>
                                <div class="list-group-item-heading">
                                    <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="list-group-item">
                                <label class="list-group-item-text">Password</label>
                                <div class="list-group-item-heading">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" value="">
                                </div>
                            </div>
                            <div align="center" class="list-group-item">
                                <button onclick="SignIn(this)" class="btn btn-success" data-pjax="#main">
                                Log In
                                </button>
                            </div>
                      
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>