
   <script>
$(document).ready(function(){
    alert('hi')
console.log($('form').serialize())
});
</script>
<div class="container">
    <div class="col-sm-12">
        <form class="form-horizontal col-sm-7" method="POST" action="" data-pjax="#main">
                <h3 class="page-header">
                    Edit User Profile
                </h3>
                <h5 class="page-header">
                    Basic Info
                </h5>
            <div class="form-group">
                <label class="col-xs-4 control-label">First Name</label>
                <div class="col-xs-8">
                    <input type="text" name="f_name" class="form-control" placeholder="First Name" value="{{user.fName}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Last Name</label>
                <div class="col-xs-8">
                    <input type="text" name="l_name" class="form-control" placeholder="Last Name" value="{{user.lName}}">
                </div>
            </div>
            <input type="hidden" name="user_id" class="form-control" value="{{user.ID}}">
            <div class="form-group">
                <label class="col-xs-4 control-label">Email Address</label>
                <div class="col-xs-8">
                    <input type="text" name="email" class="form-control" placeholder="Email" value="{{user.Email}}" disabled>
                </div>
            </div>
            <div class="">
                <h5 class="page-header">
                    Personal Info
                </h5>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Date Of Birth</label>
                <div class="col-xs-8">
                    <input type="text" id="DOB" name="DOB" class="datepicker form-control" placeholder="Date Of Birth" value="{{user.DOB}}">
                </div>
            </div>
        <script>
                    $( "#DOB" ).datepicker({
                          changeMonth: true,//this option for allowing user to select month
                          changeYear: true //this option for allowing user to select from year range
                        });
        </script>
            <div class="form-group">
                <label class="col-xs-4 control-label">Phone</label>
                <div class="col-xs-8">
                    <input type="text" name="primary_phone" class="form-control" placeholder="Phone Number" value="{{user.Phone}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Address Line 1</label>
                <div class="col-xs-8">
                    <input type="text" name="address" class="form-control" placeholder="House Number" value="{{user.HouseNumber}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Street</label>
                <div class="col-xs-8">
                    <input type="text" name="line_1" class="form-control" placeholder="Street" value="{{user.Street}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">City</label>
                <div class="col-xs-8">
                    <input type="text" name="city" class="form-control" placeholder="City" value="{{user.City}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">State</label>
                <div class="col-xs-8">
                    <input type="text" name="state" class="form-control" placeholder="State" value="{{user.State}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Country</label>
                <div class="col-xs-8">
                    <input type="text" name="country" class="form-control" placeholder="Country" value="{{user.Country}}">
                </div>
            </div>
            <div class="">
                <h5 class="page-header">
                    Account Info
                </h5>
            </div>
            <div class="form-group">
                <label class="col-xs-4 control-label">Account Type</label>
                <div class="col-xs-8">
                    <input type="text" name="role" class="form-control" placeholder="accountType" value="{{user.accountType}}" disabled>
                </div>
            </div>
            <div class="footer">
                <div class="btn-group pull-left">
                    <button class="btn btn-danger" data-dismiss="modal">
                    Reset
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-success" onclick="saveProfile()" data-dismiss="modal">
                    Save
                    </button>
                </div>
            </div>
        </form>
        <div class="col-sm-3 col-sm-offset-2" align="center">
            <img src="images/noPic.png" class="usimg">
            <button class="btn btn-success btn-block up">Change Image</button>
        </div>
    </div>
</div>

